<a href="https://colab.research.google.com/github/wantfree8937/Machine/blob/main/%EC%BB%B4%EA%B3%B5%EC%9E%85%EB%AC%B8%EA%B3%BC%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BC%EC%A0%9C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 기초 자료형

In [1]:
from random import randint

**문제 1**

1부터 999,999만 사이의 임의의 정수가 주어졌을 때 
해당 수를 지정된 방식으로 출력하는 코드를 작성하라.

예를 들어 123을 아래와 같이 출력해야 한다.

```python
입력하신 숫자는 000123입니다.
```

힌트: `randint()` 함수와 문자열 포매팅 활용.

**문제1 답안**

In [ ]:
secret = randint(1, 999999)
secret = format(secret, '06')
#secret = '{0:06d}'.format(secret)

print(f"입력하신 숫자는 {secret}입니다.")

입력하신 숫자는 649785입니다.

**문제 2**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.
단, 오늘의 요일은 0부터 6 사이의 수로 무작위적으로 선택된다.

**문제2 답안**

In [ ]:
day_list = ['일', '월', '화', '수', '목', '금', '토']
secret = randint(0, 6)
n = secret + 100 % 7

if n > 6:
  print(day_list[n - 7])
else:
  print(day_list[n])

일

**문제 3**

주민등록번호 881120-1068234 등이 주워지면
연월일(YYMMDD) 부분과 나머지 부분으로 구분하여 출력하는 코드를 작성하라.
단, 주민등록번호는 `randint()` 함수를 이용하여 무작위로 생성한다. 
뒤 7자리는 1에서 4 사이의 숫자로 시작함에 주의하라. 
출력은 다음 형식으로 이루워져야 한다.

```python
생년월일: 881120
  나머지: 1068234
```

힌트: 112500 등 실존하지 않는 생년월일을 피하기 위한 여러 가지 방식이 있을 수 있다. 제한을 가하거나, 아니면 특정 기준에 맞는 값이 나올 때까지 반복하면 된다. 아니면 6자리 수가 아닌 두 자리 수를 세 번 생성하여 결합할 수도 있다.

**문제3 답안**

In [ ]:
yy = format(randint(0, 99), '02')
mm = format(randint(1, 12), '02')
if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:   # 31일까지 있는 달
  dd = format(randint(1, 31), '02')
elif mm == 2:                                                                     # 2월
  dd = format(randint(1, 28), '02')
else:                                                                             # 30일까지 있는 달
  dd = format(randint(1, 30), '02')

num_first = str(randint(1, 4))
num = format(randint(1, 999999), '06')
left = num_first + num

print(yy+mm+dd+"-"+left)
print(f"\n생년월일: {yy+mm+dd} \n  나머지: {left}")

230513-1943597

생년월일: 230513
  나머지: 1943597

**문제 4**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
주민등록번호에서 성별을 나타내는 숫자를 
아래 형식으로 출력하는 코드를 작성하라.

힌트: 문자열 인덱싱을 활용한다.

출력:

```python
성별: 1 (남성)
```

출력:

```python
성별: 2 (여성)
```

**문제4 답안**

In [ ]:
# 문제3과 연계
if num_first == 1 or num_first == 3:
  print(f"성별: {num_first} (남성)")
else:
  print(f"성별: {num_first} (여성)")

성별: 1 (여성)

**문제 5**

다음과 같이 `a`, `b` 두 변수를 선언한 후 `a` 의 두 번째 요솟값을 변경하면 `b` 의 값은 
어떻게 되는지 확인하고 그 이유를 설명하라.

In [ ]:
# a = b = [1, 2, 3]
# a[1] = 4
# print(b)

설명하세요.

...

**문제5 답안**

In [66]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
print(a is b)

[1, 4, 3]
True

하나의 변수에 리스트를 다른 변수에 할당하면 리스트가 두개가 되는게 아니라 두 변수가 하나의 리스트를 가르킨다. 그래서 리스트를 값을 변경하면 a와 b 모두에 영향이 간다.

**문제 6**

과일 이름으로 구성된 문자열 하나가 주어졌다.

In [ ]:
fruit = "banana apple orange pineapple mango strawberry cherry"

**문제6 답안**

(1) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

In [ ]:
fruit[-5:-2]

'her'

(2) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

In [ ]:
fruit[34:27:-3]

'oae'

(3) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

In [ ]:
fruit[-1:-7:-1]

'yrrehc'

**문제 7**

다음 문자열이 주어졌다.

```python
'n o r t h w e s t e r n'
```

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```python
'Northwestern'
```

**문제7 답안**

In [ ]:
str1 = 'n o r t h w e s t e r n'
str1 = str1.replace(" ","")
str1.capitalize()

'Northwestern'

**문제 8**

아래 노래 가사를 활용하는 문제이다.

In [ ]:
song = "When you are smiling, the whole world smiles with you"

**문제8 답안**

(1) `for` 문을 사용하여 `song`에서 `a`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
sum_a = 0
for n in song: 
  if n == "a":
    sum_a += 1
print(sum_a)

1

(2) 반복문을 사용하여  `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
sum_w = 0
song = song.lower()
for n in song:
  if n == "w":
    sum_w += 1
print(sum_w)

4

**문제 9**

`num`이 가리키는 정수가 숫자 3을 포함하는 경우에는
`num` 의 세 배를 출력하고, 
아닌 경우에는 `num` 에서 2를 뺀 값을 출력하는 코드를 작성하라.
단, `num` 이 가리키는 수는 임의로 생성된 세 자리 수이어야 한다.

**문제9 답안**

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.

# num = 123
# 출력: 369

In [ ]:
num = randint(100, 999)
#num = 123
num_list = list(map(int, str(num)))
sum_n = 0
for n in num_list:
  if n == 3:
    sum_n += 1

if sum_n > 0:
  print(num * 3)
else:
  print(num - 2)

1959

**문제 10**

정수 나눗셈의 몫을 계산하는 코드를 `while` 반복문을 이용하여 구현한다.
단, 분자와 분모는 임의로 생성하며, 분자는 두 자리 정수, 분모는 한 자리 정수로 제한한다.
또한 몫 연산자 `//` 는 허용되지 않으며 덧셈과 뺄셈만 사용한다.

**문제10 답안**

In [ ]:
# 아래 변수를 이용하세요.

# number = None
# divisor = None
# answer = None

In [ ]:
number = randint(1,99)    # 분자
divisor = randint(1,9)    # 분모
answer = 0
while number >= divisor:
  number -= divisor
  answer += 1
print(answer)

13

**문제 11**

어느 한 택배사의 무게에 따른 가격표가 다음과 같다.

| 5kg 미만 | 5kg 이상~10kg 미만 | 10kg 이상 |
|:-------:|:--------------------:|:---------:|
|5.000원 | 8,000원| 10,000원|

우편물의 무게가 임의의 자연수로 주어졌을 때, 택배 가격을 알려주는 프로그램을 만들어라.
단, 우편물의 무게는 최대 두 자리 수로 제한한다.

**문제11 답안**

In [ ]:
wei = randint(1, 99)    # 우편물 무게

if wei < 5:
  print('5000원 입니다.')
elif 5 <= wei <10:
  print('8000원 입니다.')
else:
  print('10000원 입니다.')

8000원 입니다.

**문제 12**

0부터 100까지의 숫자 중에서 3의 배수와 7의 배수를 모두 찾아 출력한 다음, 
찾은 수들을 모두 더하여 아래와 같이 출력하는 코드를 작성하여라.

```python
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 OOO이다.
```

**문제12 답안**

In [ ]:
thr = 3
sev = 7
thr_list = [thr]
sev_list = [sev]
while thr < 100:
  thr += 3
  if thr > 100:
    break
  thr_list.append(thr)
while sev < 100:
  sev += 7
  if sev > 100:
    break
  sev_list.append(sev)

sum_thr = sum(thr_list)
sum_sev = sum(sev_list)

print(f"3의 배수: {thr_list}")
print(f"7의 배수: {sev_list}")
print(f'0~100의 숫자 중 3의 배수와 의 7배수들의 합은 {sum_thr+sum_sev}이다.')

3의 배수: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
7의 배수: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
0~100의 숫자 중 3의 배수와 의 7배수들의 합은 2418이다.

**문제 13**

임의의 자연수 n이 주어졌을 때, 1부터 n까지의 자연수 중에서 3의 배수이거나 
3을 포함하는 숫자들의 합을 구하여라.
단, n 은 두 자리의 수로 제한한다.

**문제13 답안**

In [ ]:
num = randint(1, 99)    # 임의의 자연수
thr = 3
thr1_list = [thr]       # 3의 배수 리스트 
thr2_list = []          # 3을 포함한 숫자 리스트
num_list = list(range(1, num))

while thr < num:        # 3의 배수 구하기
  thr += 3
  thr1_list.append(thr)

for n in num_list:      # 3을 포함한 숫자 구하기 
  if '3' in str(n):
    thr2_list.append(n)

sum_list = thr1_list + thr2_list  # 합치고 중복 제거
sum_list = set(sum_list)

print(f"3의 배수: {thr1_list}")
print(f"3을 포함한 숫자: {thr2_list}")
print(f"3의 배수 혹은 3을 포함한 숫자: {sum_list}")
print(f"합은 {sum(sum_list)}이다.")

3의 배수: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
3을 포함한 숫자: [3, 13, 23, 30, 31, 32, 33, 34, 35, 36]
3의 배수 혹은 3을 포함한 숫자: {3, 6, 9, 12, 13, 15, 18, 21, 23, 24, 27, 30, 31, 32, 33, 34, 35, 36, 39}
합은 441이다.

**문제 14**

자연수 n이 주어졌을 때, n의 약수를 모두 출력하는 코드를 작성하여라. 
단, n 은 두 자리의 수로 제한한다.

**문제14 답안**

In [11]:
num = randint(1, 99)      # 임의의 자연수
num_list = []
print(f"숫자: {num}")

for n in range(1, num+1):
  if num % n == 0:
    num_list.append(n)
print(f"약수: {num_list}")

숫자: 36
약수: [1, 2, 3, 4, 6, 9, 12, 18, 36]

**문제 15**

일찍 태어난 사람이 늦게 태어난 사람보다 정확히 두 배의 나이를 갖는 경우가 발생한다. 
예를 들어, 2003년 7월 12일에 태어난 사람과 2006년 9월 30일에 태어난 사람은
2009년 12월 19일에 서로의 나이가 딱 두 배가 된다.

이를 확인하는 코드를 `Timestamp` 자료형을 이용하여 작성하라.

**문제16 답안**

In [41]:
import pandas as pd 

d1 = pd.Timestamp('2003-07-12')
d2 = pd.Timestamp('2006-09-30')

In [42]:
d3 = d2 - d1    # d1과 d2의 차이
print(d2 + d3)

2009-12-19 00:00:00

**문제 16**

아래 명령문을 실행할 때 오류가 발생한다. 이유가 무엇인가?

```python
if 3/0 or True:
    print("나는 출력되지 않아요.")
```

이유를 설명하세요.

**문제16 답안**

In [49]:
#if 3/0 or True:
#  print("나는 출력되지 않아요.")

# ZeroDivisionError: division by zero

3을 0으로 나눌수 없기때문에 발생

**문제 17**

아래 명령문을 실행할 때 오류가 발생하지 않는다. 이유가 무엇인가?

```python
if True or 3/0:
    print("오류가 발생하지 않아요.")
```

이유를 설명하세요.

**문제17 답안**

In [57]:
if True or 3/0:
  print("오류가 발생하지 않아요.")

오류가 발생하지 않아요.

or 연산자는 둘 중 하나만 True면 바로 True를 반환한다.
게다가 or 연산자는 왼쪽에서 오른쪽으로 결합성을 가지기 때문에 위에 코드는 오류가 발생하지 않는다.