<a href="https://colab.research.google.com/github/wantfree8937/Machine/blob/main/%EC%BB%B4%EA%B3%B5%EC%9E%85%EB%AC%B8%EA%B3%BC%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BC%EC%A0%9C_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 모음 자료형 2부: 집합, 사전, `range`, 조건제시법

## 집합

**문제 1**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [2]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [3]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

AnBnC = A&B&C

In [4]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [5]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

ArBrCmA = (A|B|C) - A

In [6]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert ArBrCmA == {1, 3, 10}

**문제 2**

리스트가 입력되면 중복된 항목은 제거하고 남은 항목들을 내림차순으로 정렬한
리스트를 반환하는 `unique_values()` 함수를 구현하라.

In [7]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def unique_values(aList):

    aList = set(aList)
    aList = list(aList)
    aList.sort(reverse=True)    

    return aList

In [8]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']

## 사전

**문제 3**

다음 `participants` 변수는 모임일과 그날 참석한 사람들의 이름을 저장하는 사전을 가리킨다.

In [9]:
participants = {'1월3일' : ['현성', '문정', '현무', '강현'], 
                '2월10일' : ['문정', '강현', '정훈'], 
                '3월7일' : ['현성', '연아', '현무', '지아']}

(1) 그런데 3월7일 모임에 강현이가 참석하였는데, 이 정보가 누락되었다.  
3월7일 참석자 명단 마지막에 '강현'을 추가한 다음, 아래와 같은 형식으로 출력하는 코드를 작성하여라.   

```python
3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.
```

In [10]:
# pass 를 적절한 명령문과 표현식으로 대체하라.
# 단, 앞서 언급된 출력값을 직접 사용하지는 않아야 한다.

participants['3월7일'].append('강현')
print('3월7일 모임에는 ', participants['3월7일'], ', 총 5명이 참석했습니다')

3월7일 모임에는  ['현성', '연아', '현무', '지아', '강현'] , 총 5명이 참석했습니다

(2) 이름을 입력받아 1월3일 모임에 참석했으면 `True`, 아니면 `False`를 출력하는 
`attended()` 함수를 작성하라.

In [11]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def attended(name):
    if name in participants['1월3일']:
      return True

    return False

In [12]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert attended("현성") == True
assert attended("찬호") == False

**문제 4**

어느 반 학생들의 이름이 리스트로 주어졌다.

In [13]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 없다고 가정한다.  

힌트: `sorted()` 함수와 `enumerate()` 함수를 이용할 수 있다.

In [14]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

students.sort()
my_dict = {}
for i, name  in enumerate(students):
  my_dict[str(i+1)] = name

name_numbers = my_dict

In [15]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}

**문제 5**

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [16]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT',
              '23:45 9876 OUT']


차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [17]:
import datetime
import math

car_dict = {}

for item in car_in_out: 
  time, car_num, status = item.split()    # time, car_num, status로 각각 항목을 나눔
  if car_num not in car_dict:             # 차가 들어와 있지 않을 때
    car_dict[car_num] = {'IN' : time}
  else:                                   # 차가 들어와 있을 때
    car_dict[car_num]["OUT"] = time
    time1 = datetime.datetime.strptime(car_dict[car_num]['IN'], "%H:%M")    # 들어올때 시간
    time2 = datetime.datetime.strptime(car_dict[car_num]['OUT'], "%H:%M")   # 나올때 시간
    duration = int((time2 - time1).seconds / 60)                            # 두 시간 차를 분 단위로 계산
    car_dict[car_num]['parking_duration'] = duration
    if duration < 1440:                                                     # 주차 시간이 하루 미만일 경우
      car_dict[car_num]['parking_fee'] = int(500 + math.ceil((duration) / 10) * 500) 
car_parking_log = car_dict

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [18]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 39000},
          '9876': {'IN': '08:55',
                   'OUT': '23:45',
                   'parking_duration': 890,
                   'parking_fee': 45000},
          '1597': {'IN': '11:00'}}

In [19]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert car_parking_log == answer

## 조건제시법

**문제 6**

다음 월리스 공식<font size='2'>Wallis formula</font>을 이용하여 
원주율 PI를 소수점 이하 다섯째 자리까지 구하라.
단, 조건제시법을 반드시 이용한다.
또한 소수점 이하 다섯째 자리까지 구하기 위해 필요한 $i$ 의 최소값을 알아내야 한다.

$$
\pi = 2 \prod_{i=1}^{\infty} \frac{4 i^2}{4 i^2 -1}
$$

힌트: `range()` 함수, `math` 모듈의 `log()`, `exp()` 함수, 
`functools` 모듈의 `reduce()` 함수 등을 이용할 수 있다.
또한 다음과 같이 로스 함수와 지수 함수를 이용한다.

$$
\log\pi = \log 2 + \sum_{i=1}^{\infty} \left (\log(4 i^2) - \log(4 i^2 -1)\right )
$$

소수점 이하 다섯째 자리까지 구하기 위해 3.14159를 직접 이용하지는 않아야 한다.
대신에 $i$ 번째, $i+1$ 번째, ... , $i+k$ 번째 값이 소수점 이하 다섯째 자리까지 동일하도록
만드는 $i$ 값을 찾는 방법을 사용해야 한다. $k$를 얼마로 해야할지는 실험을 통해
알아내야 한다.

이런 방식을 사용하면 미리 알지 못하는 임의의 값의 수렴값을 원하는 정밀도까지 계산할 수 있다.

In [171]:
for i in range(1, 1000000):
  if i == 1:
    result = math.log(4*i**2) - math.log(4*i**2 - 1)
  else:
    result += math.log(4*i**2) - math.log(4*i**2 - 1)
    if math.trunc(math.exp(math.log(2) + result) * 100000 ) / 100000 == round(math.pi, 5):
      break
print(i)

295976